<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="com.romanrudenko.springInside"/>
    <!--<context:component-scan base-package="com.romanrudenko.helloSpring.beandef"/>-->

    <!--<bean class="com.romanrudenko.springInside.DeprecationHandlerBeanFactoryPostProcessor"/>-->

    <!--<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>-->

    <!--<bean class="com.romanrudenko.springInside.PostProxyInvokerContextListener"/>-->
    <!--<bean class="com.romanrudenko.springInside.ProfilingHandlerBeanPostProcessor"/>-->
    <!--<bean class="com.romanrudenko.springInside.InjectRandomAnnotationBeanPostProcessor"/>-->

    <!--<bean class="com.romanrudenko.springInside.RealPrinter" id="realPrinter">-->
        <!--<property name="wordToPrint" value="Real printer is printing"/>-->
    <!--</bean>-->

</beans>